/* ---------------------------------------------
全体
--------------------------------------------- */

.root {
	-fx-border-color : {@LIGHT_PRIMARY};
	-fx-font-family: "Meiryo";
}

.jfx-button.positive {
	-fx-background-color: {@SECONDARY} !important;
}

.jfx-button.positive:hover {
	-fx-background-color: {@LIGHT_SECONDARY} !important;
}

.jfx-button:hover {
	-fx-cursor: hand;
}

/* ---------------------------------------------
ヘッダーエリア
--------------------------------------------- */

#appTitle {
	-fx-font-size: 20;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-text-fill: {@WHITE};
	-fx-padding: 0 0 0 8;
}

.header_bar {
	-fx-background-color: {@PRIMARY};
}

.header_bar .jfx-hamburger StackPane {
	-fx-background-color: {@WHITE};
}

.header_bar .jfx-hamburger:hover {
	-fx-cursor: hand;
	-fx-background-color: {@P300};
}

.header_bar .jfx-button {
	-fx-text-fill: {@WHITE};
}

.header_bar .jfx-button:hover {
	-fx-background-color: {@P300};
}

.header_bar .close:hover {
	-fx-background-color: {@SECONDARY};
}

/* ---------------------------------------------
コンテンツエリア
--------------------------------------------- */

.sideTitle {
	-fx-font-size: 30px;
	-fx-font-family: "Arial Black";
	-fx-fill: #9E9E9E;
	-fx-effect: innershadow(three-pass-box , rgba(0, 0, 0, 0.7) , 6, 0.0 , 0 , 2);
}

#menus VBox {
	-fx-background-color: {@WHITE};
	-fx-padding: 0;
}

#menus .menu-item-box {
	-fx-padding: 8;
}

#menus .menu-item-box:hover {
	-fx-background-color: {@P50};
}

#menus .menu-item-box BorderPane {
	-fx-padding: 0 4 0 0;
}

.contents .jfx-button {
	-fx-background-color: {@PRIMARY};
	-jfx-button-type: FLAT;
	-fx-text-fill: {@WHITE};
}

.contents .jfx-button:hover {
	-fx-background-color: {@P300};
}

.contents .jfx-text-field {
	-jfx-focus-color: {@PRIMARY};
	-jfx-unfocus-color: {@PRIMARY};
}

.contents .jfx-text-area {
	-jfx-focus-color: {@PRIMARY};
	-jfx-unfocus-color: {@PRIMARY};
}

.contents .separator {
	-fx-background-color: {@PRIMARY};
}

.contents .tab-header-background {
	-fx-background-color: {@PRIMARY};
}

/* ---------------------------------------------
スナックバー
--------------------------------------------- */

.jfx-snackbar-content {
	-fx-background-color: {@BLACK};
}

.jfx-snackbar-toast {
	-fx-text-fill: {@WHITE};
}
