/* ---------------------------------------------
全体
--------------------------------------------- */

.root {
	-fx-border-color : {@200};
	-fx-font-family: "Meiryo";
}

/* ---------------------------------------------
ヘッダーエリア
--------------------------------------------- */

#appTitle {
	-fx-font-size: 20;
	-fx-font-family: "Arial";
	-fx-text-fill: {@white};
	-fx-padding: 0 0 0 8;
}

.header_bar {
	-fx-background-color: {@500};
}

.header_bar JFXHamburger StackPane {
	-fx-background-color: {@white};
}

.header_bar JFXButton {
	-fx-text-fill: {@white};
}

/* ---------------------------------------------
コンテンツエリア
--------------------------------------------- */

.sideTitle {
	-fx-font-size: 32px;
	-fx-font-family: "Arial Black";
	-fx-fill: #9E9E9E;
	-fx-effect: innershadow(three-pass-box , rgba(0, 0, 0, 0.7) , 6, 0.0 , 0 , 2);
}

#menus VBox {
	-fx-background-color: {@white};
	-fx-padding: 0;
}

#menus MenuItemBox {
	-fx-padding: 8;
}

#menus MenuItemBox BorderPane {
	-fx-padding: 0 4 0 0;
}

.contents JFXButton {
	-fx-background-color: {@500};
	-jfx-button-type: FLAT;
	-fx-text-fill: {@white};
}

.contents JFXTextField {
	-jfx-focus-color: {@500};
	-jfx-unfocus-color: {@500};
}

.contents JFXTextArea {
	-jfx-focus-color: {@500};
	-jfx-unfocus-color: {@500};
}

.contents Separator {
	-fx-background-color: {@500};
}

.contents .tab-header-background {
	-fx-background-color: {@500};
}

/* ---------------------------------------------
スナックバー
--------------------------------------------- */

.jfx-snackbar-content {
	-fx-background-color: {@black};
}

.jfx-snackbar-toast {
	-fx-text-fill: {@white};
}
