/* ---------------------------------------------
全体
--------------------------------------------- */

.root {
	-fx-border-color : {@200};
}

/* ---------------------------------------------
ヘッダーエリア
--------------------------------------------- */

.header_bar {
	-fx-background-color: {@500};
}

.header_bar Label {
	-fx-text-fill: {@white};
}

.header_bar JFXHamburger StackPane {
	-fx-background-color: {@white};
}

.header_bar JFXButton {
	-fx-text-fill: {@white};
}

/* ---------------------------------------------
コンテンツエリア
--------------------------------------------- */

.contents JFXButton {
	-fx-background-color: {@500};
	-jfx-button-type: RAISED;
	-fx-text-fill: {@white};
}

.contents JFXTextField {
	-jfx-unfocus-color: {@500};
}

.contents JFXTextArea {
	-jfx-unfocus-color: {@500};
}

.contents Separator {
	-fx-background-color: {@500};
}

.contents .tab-header-background {
	-fx-background-color: {@500};
}

/* ---------------------------------------------
スナックバー
--------------------------------------------- */

.jfx-snackbar-content {
	-fx-background-color: {@black};
}

.jfx-snackbar-toast {
	-fx-text-fill: {@white};
}
