/* ---------------------------------------------
全体
--------------------------------------------- */

.root {
	-fx-border-color : #9FA8DA;
	-fx-font-family: "Meiryo";
}

/* ---------------------------------------------
ヘッダーエリア
--------------------------------------------- */

#appTitle {
	-fx-font-size: 16;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 0 0 0 4;
}

.header_bar {
	-fx-background-color: #3F51B5;
}

.header_bar JFXHamburger StackPane {
	-fx-background-color: #FFFFFF;
}

.header_bar JFXButton {
	-fx-text-fill: #FFFFFF;
}

/* ---------------------------------------------
コンテンツエリア
--------------------------------------------- */

#menus VBox {
	-fx-background-color: #FFFFFF;
	-fx-padding: 0;
}

#menus MenuItemBox {
	-fx-padding: 8;
}

#menus MenuItemBox BorderPane {
	-fx-padding: 0 4 0 0;
}

.contents JFXButton {
	-fx-background-color: #3F51B5;
	-jfx-button-type: FLAT;
	-fx-text-fill: #FFFFFF;
}

.contents JFXTextField {
	-jfx-unfocus-color: #3F51B5;
}

.contents JFXTextArea {
	-jfx-unfocus-color: #3F51B5;
}

.contents Separator {
	-fx-background-color: #3F51B5;
}

.contents .tab-header-background {
	-fx-background-color: #3F51B5;
}

/* ---------------------------------------------
スナックバー
--------------------------------------------- */

.jfx-snackbar-content {
	-fx-background-color: #000000;
}

.jfx-snackbar-toast {
	-fx-text-fill: #FFFFFF;
}
