/* ---------------------------------------------
全体
--------------------------------------------- */

.root {
	-fx-border-color : #C5CAE9;
	-fx-font-family: "Meiryo";
}

.jfx-button.positive {
	-fx-background-color: #FF5252 !important;
}

.jfx-button.positive:hover {
	-fx-background-color: #FF8A80 !important;
}

.jfx-button:hover {
	-fx-cursor: hand;
}

/* ---------------------------------------------
ヘッダーエリア
--------------------------------------------- */

#appTitle {
	-fx-font-size: 20;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 0 0 0 8;
}

.header_bar {
	-fx-background-color: #3F51B5;
}

.header_bar .jfx-hamburger StackPane {
	-fx-background-color: #FFFFFF;
}

.header_bar .jfx-hamburger:hover {
	-fx-cursor: hand;
	-fx-background-color: #7986CB;
}

.header_bar .jfx-button {
	-fx-text-fill: #FFFFFF;
}

.header_bar .jfx-button:hover {
	-fx-background-color: #7986CB;
}

.header_bar .close:hover {
	-fx-background-color: #FF5252;
}

/* ---------------------------------------------
コンテンツエリア
--------------------------------------------- */

.sideTitle {
	-fx-font-size: 30px;
	-fx-font-family: "Arial Black";
	-fx-fill: #9E9E9E;
	-fx-effect: innershadow(three-pass-box , rgba(0, 0, 0, 0.7) , 6, 0.0 , 0 , 2);
}

#menus VBox {
	-fx-background-color: #FFFFFF;
	-fx-padding: 0;
}

#menus .menu-item-box {
	-fx-padding: 8;
}

#menus .menu-item-box:hover {
	-fx-background-color: #E8EAF6;
}

#menus .menu-item-box BorderPane {
	-fx-padding: 0 4 0 0;
}

.contents .jfx-button {
	-fx-background-color: #3F51B5;
	-jfx-button-type: FLAT;
	-fx-text-fill: #FFFFFF;
}

.contents .jfx-button:hover {
	-fx-background-color: #7986CB;
}

.contents .jfx-text-field {
	-jfx-focus-color: #3F51B5;
	-jfx-unfocus-color: #3F51B5;
}

.contents .jfx-text-area {
	-jfx-focus-color: #3F51B5;
	-jfx-unfocus-color: #3F51B5;
}

.contents .separator {
	-fx-background-color: #3F51B5;
}

.contents .tab-header-background {
	-fx-background-color: #3F51B5;
}

.contents .title {
	-fx-background-color: #C5CAE9;
	-fx-padding: 4;
}

/* ---------------------------------------------
スナックバー
--------------------------------------------- */

.jfx-snackbar-content {
	-fx-background-color: #000000;
}

.jfx-snackbar-toast {
	-fx-text-fill: #FFFFFF;
}
